/* custom-dialog.component.css */

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    min-height: 100%; /* Ajusta la altura mínima al 100% del contenedor del diálogo */
  }
  

.mat-primary {
    color: #1c75ac; /* Color primario de la página principal */
  }

  .inventario {
    color: #1c75ac; /* Color primario de la página principal */
  }
  
  .mat-dialog-actions {
    justify-content: flex-end; /* Alinea el botón de cerrar a la derecha */
  }
  