body {
    background-color: #50bde4;
    color: #ffffff;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Esta línea centra las tarjetas horizontalmente */
    align-items: center;      /* Esta línea las centra verticalmente */
  }
  
  
  .product-card {
    width: 350px;
    margin: 15px;
  }
  
  .select-flavor {
    width: 300px;
  }
  
  .price {
    flex-grow: 1;
  }
  
  .footer {
    background-color: #c0ff72;
    text-align: center;
  }
  
  .logo-toolbar {
    justify-content: center;
  }
  