<!-- Jumbotron con logotipo -->
<div class="jumbotron bg-primary text-white text-center">
    <img src="https://geoshglobal.com/cloud9/images/logo.png" width="100px" alt="Logotipo de la empresa" class="mx-auto">
    <span class="ms-2">{{ pagosRef['titulo'] ?? reference }}</span>
  </div>
  
  <!-- Cards centrados -->
  <div class="d-flex justify-content-center flex-wrap bg-secondary" *ngIf="pagosRef['reference']">
    <!-- Iteración sobre los productos -->
    <mat-card class="product-card mx-2" *ngFor="let product of lapi.jsonData | keys">
      <div class="d-flex justify-content-center align-items-center">
        <img class="product-img" [src]="lapi.jsonData[product].Foto" alt="Imagen del producto">
        <!-- <span class="arrow mx-2">➔</span> -->
        <!-- <img class="qr-img" [src]="lapi.jsonData[product].Foto" alt="Código QR"> -->
        <a [href]="lapi.jsonData[product][pagosRef['payLink']]"><img [src]="lapi.jsonData[product]['ClipSrc']" alt="Logo Paga con Clip" /></a>
      </div>
      <mat-card-title class="text-center">{{lapi.jsonData[product].Modelo}}</mat-card-title>
      <mat-card-subtitle class="text-center">{{lapi.jsonData[product].Hits}} hits</mat-card-subtitle>
      <mat-card-content class="text-center">
        <span>{{lapi.jsonData[product][pagosRef['mxn']] | currency:'MXN':'symbol':'1.2-2'}}</span> /
        <span>US {{lapi.jsonData[product][pagosRef['usd']] | currency:'USD':'symbol':'1.2-2'}}</span>
        <br>
        <div class="container">
          <button class="ms-auto w-100" mat-raised-button (click)="showFlavors( lapi.jsonData[product]['Sabor'] )">Ver Sabores</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Muestra una alerta indicando que no se encontro la tienda en el catalogo -->
  <div class="alert alert-warning text-center mt-5" role="alert" *ngIf="!pagosRef['reference']">
    La tienda {{ reference }} se encuentra inactiva o no existe
  </div>
  